<div class='flex flex-col justify-end import-modal '>
    <div class='import-deny'>
      <img  class='warning-gif' src="../../../../assets/images/warning.gif" alt="icon" />
      <h6>Important notice</h6>
      <p>You have more accounts to link. Linking more accounts helps to better asses your financial information.</p>
    </div>
    <div class='deny_card'>
      <span class='offer_text'>
        Over 3 lakh users have securely shared their account details for 100% accurate financial data for a faster, seamless processing.
      </span>
    </div>
    <div class='flex justify-between import-exited '>
      <div class='w-full '>
        <button class='bottom-gray' (click)="close('Submit')">Submit</button>
      </div>
      <div class=' w-full'>
        <button class='bottom-button' (click)="close('Cancel')">Cancel</button>
      </div>
    </div>
  </div>