<div class='Header'>
  <div class='Header-box'>
    <div class='Back_arrow_box' *ngIf="Enablbackbtn" (click)="Back()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M20 11.5H7.83L13.42 5.91L12 4.5L4 12.5L12 20.5L13.41 19.09L7.83 13.5H20V11.5Z" fill="#4B4B4B" />
      </svg>
    </div>
    <div class='heading_logo_box'>
      <img class='heading_logo' [src]="logo" />
    </div>
    <div class='cross_button' *ngIf="Enablecrossbtn" (click)="opendrawer()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path
          d="M19 6.91L17.59 5.5L12 11.09L6.41 5.5L5 6.91L10.59 12.5L5 18.09L6.41 19.5L12 13.91L17.59 19.5L19 18.09L13.41 12.5L19 6.91Z"
          fill="#666666" />
      </svg>
    </div>
  </div>
</div>