<div class=" card-shimmer">
  <div class="scroll-loader ">

    <div class="loading-header">
      <h5>Discovering accounts...</h5>
      <div class="dis-paragraph">
        <div class="paragraph  "></div>
        <div class="paragraph-sub  "></div>
        <div class=" shimmerBG dicover-shimmer"></div>
      </div>
    </div>
    <div class="cards-link">
      <div class="discovering-card">
        <div class="discover-topbox">
          <div class="discover-page">
            <div class="boxes  "></div>
            <div class="discover-textograpy">
              <div class="paragraph-three  "></div>
              <div class="paragraph-four  "></div>
            </div>
          </div>
          <div class="dicover-link">
            <div class="button-links  ">
              <div class="link-text  "></div>
            </div>
          </div>
        </div>
        <div class="line-dicover"></div>
        <div class="discover-bottom">
          <div class="discover-pages">
            <div class="paragraph-five  "></div>
            <div class="dots-discover   "></div>
            <div class="paragraph-six  "></div>
          </div>
          <div class="paragraph-dots  "></div>

        </div>
        <div class=" shimmerBG dicover-shimmer"></div>
      </div>
      <div class="discovering-card">
        <div class="discover-topbox">
          <div class="discover-page">
            <div class="boxes  "></div>
            <div class="discover-textograpy">
              <div class="paragraph-three  "></div>
              <div class="paragraph-four  "></div>
            </div>
          </div>
          <div class="dicover-link">
            <div class="button-links  ">
              <div class="link-text  "></div>
            </div>
          </div>
        </div>
        <div class="line-dicover"></div>
        <div class="discover-bottom">
          <div class="discover-pages">
            <div class="paragraph-five  "></div>
            <div class="dots-discover   "></div>
            <div class="paragraph-six  "></div>
          </div>
          <div class="paragraph-dots  "></div>

        </div>
        <div class=" shimmerBG dicover-shimmer"></div>
      </div>

    </div>
  </div>
  <div class=" lottie-loader  ">
    <div class="discover-accouted">
      <div class="button-lottie  "></div>
      <div class="paragraph-button  "></div>
      <div class=" shimmerBG dicover-shimmer"></div>
    </div>
  </div>
</div>